<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <span class="navbar-brand mr-0 mr-md-2" aria-label="Weather Dashboard">{{title}}</span>
</header>
<main>
<router-outlet></router-outlet>
</main>
<footer class="site-footer bg-dark pt-2 pb-1">
  <div class="container d-md-flex justify-content-between align-items-center text-center">
    <ul class="list-inline fs-sm mb-3 order-md-2">
      <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="#">Support</a></li>
      <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="#">Contacts</a></li>
      <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="#">Terms &amp; Conditions</a></li>
    </ul>
    <p class="fs-sm mb-3 order-md-1"><span class="text-light opacity-50 me-1">© All rights reserved.</span></p>
  </div>
</footer>
